@import './base.css';

@import "tailwindcss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  gap: 20px;
}

a,
.green {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.4s;
  padding: 8px;
}

nav {
    background: oklch(78.5% 0.115 274.713);
    padding: 16px;
    border-radius: 29px;
    margin: -15px;
    margin-bottom: 14px;
    text-align: center;
}


@media (hover: hover) {
  a:hover {
    background-color: oklch(58.5% 0.233 277.117);
  }
}

@media (min-width: 1024px) {
  body {
   
    place-items: center;
  }

  #app {
    
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
